# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# C++
*.o
*.out
*.exe
build/
bin/

# ROS
install/
log/
.catkin_workspace

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db